bform {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 50%;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type="text"] {
  height: 40px;
}

textarea {
  height: 120px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #008CBA;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button[type="button"]:hover {
  background-color: #006F8A;
}

button[type="button"] {
  padding: 10px 20px;
  background-color: #008CBA;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #006F8A;
}